@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@font-face{
    font-family: "Fedor";
    src: url(../font/18144.ttf);
}
html{
    background-image: url(../img/fon.png);
    background-size: cover;
    background-attachment: fixed; 
}
.text{
    font-family: Fedor;
    text-align: center;
    padding: 10px;
    margin: 0px 20%;
    color: white;
}
.allnav{
/*    background-image: url(../img/header.png);*/
    text-align: center;
    border: solid 1px black;
    border-radius: 30px;
}
.allnav a{
    display: inline-block;
    padding: 20px 15px;
    font-size: 21px;
    background-color: rgba(177, 127, 180, 0.0);
    text-decoration: none;
    color: black;
    margin: 0px 20px;
    transition: 0.1s;
    font-family: 'Pacifico';
}
.allnav a:hover{
    padding: 5px 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
}
article{
    margin: 0px;
    margin-right: 0px;
    display: block;
    width: 30%;
}
.image{
    text-align: center;
}

.post {
    height: 200px;
    color: white;
/*    border: solid 1px black;*/
    margin-bottom: 10px;
    
    display: grid;
    grid-template-areas: "post-img post-text";
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
}

.test {
    height: 1500px;
    
    display: grid;
    
    grid-template-areas: 
    "header header header"
    "post img nav"
    "footer footer footer";
    
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 700px 700px 1fr;
    
    grid-gap: 10px;
    color: white;
}

#pageHeader {
    grid-area: header;
    background-color: gold;
    padding: 10px;
}
#pageFooter {
    grid-area: footer;
    background-color: gold;
    padding: 10px;
}
#img { 
    grid-area: img;      
    padding: 10px;
}
#post { 
    grid-area: post;
/*    background-color: gold;*/
/*    border: solid 1px gold;*/
}
#post-img {
    grid-area: post-img;
    height: inherit;
    max-width: inherit;
}
#post-text {
    grid-area: post-text;
    word-break: keep-all;
    padding: 10px;
    text-align: center;
}
#nav { 
    grid-area: nav;
    background-color: gold;
    padding: 10px;
}
