<html>
    <head>
        <title>История - ahegao.ga</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="shortcut icon" href="img/icon.jpg" type="image/jpg">
    </head>
    <body class="main">
        <header>
            <nav class="headerNav">
                <a href="/templates/art.html">Аниме, манга и ранобэ</a>
                <a href="/index.html">Главная</a>
                <a href="/templates/history.html">Древняя Япония</a>
            </nav>
        </header>
        
        <div class="content">
            <a href="/posts/history.html">
                <div class="post">
                    <img class="post-img" src="/gif/senko.gif">
                    <h3 class="post-text">История Японии</h3>
                </div>
            </a>

            <a href="/posts/test_post.html">
                <div class="post">
                    <img class="post-img" src="/gif/senko.gif">
                    <h3 class="post-text">Синтоизм в Японии</h3>
                </div>
            </a>
        </div>
        
        <nav class="nav">
        </nav>
        
        <footer>
            <p class="footer-text"><a href="https://vk.com/firekot">Ракитин Алексей </a>| <a href="https://vk.com/kmyyyn">Николай Орехов</a></p>
        </footer>
    </body>
</html>
